/*a função de import está aqui para chamar uma fonte especifica e as coisas estão sendo "modificadas" estão divididas pelo class*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(../img/tela_fundo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* //////////////////////////////////////////////MENU PADRÃO /////////////////////////////////////////////*/

/*CABEÇARIO*/
header {
    background-color: #0C0742;
    position: static;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999px;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);   
}


.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 6rem;
}

.logo{
    display: flex;
    align-items: center;
}

.logo a {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    transition: all .3s ease-out;
}

a:hover{
    color: #272262;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-item {
    margin: 0 15px;
    font-family: 'Quicksand', sans-serif;

}

.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
}

.nav-link {
    text-decoration: none;
    font-size: 1.15rem;
    color: #fff;
    font-weight: 400;
}
/* //////////////////////////////////////////////final do MENU PADRÃO /////////////////////////////////////////////*/


.container{
    display: flex;
    justify-content: center;
    font-family: 'Quicksand', sans-serif;
    width: 100%;
    margin-top: 100px;
}

h2{
    text-align:center;
    margin-block-end: 20px;
    font-family: 'Quicksand', sans-serif;
    
   
}

.card{
    background-color: #ffffff80;
    padding: 30px;
    border-radius: 4%;
    box-shadow: 3px 3px 1px 0px #00000060;
    width: 400px;
}

h1{
    text-align: center;
    margin-bottom: 20px;
    color: #272262;
    text-shadow: rgb(197, 34, 34);
}

.label-float input{
    width: 100%;
    padding: 5px 5px;
    display: inline-block;
    border: 0;
    border-bottom: 2px solid #272262;
    background-color: transparent;
    outline: none;
    min-width: 180px;
    font-size: 16px;
    transition: all .3s ease-out;
    border-radius: 0;
}

.label-float{
    position: relative;
    padding-top: 13px;
    margin-top: 5%;
    margin-bottom: 5%;
}

.label-float input:focus{
    border-bottom: 2px solid #4038a0;
}

.label-float label{
    color: #272262;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 13px;
    transition: all .3s ease-out;
}

.label-float input:focus + label,
.label-float input:valid + label{
    font-size: 13px;
    margin-top: 0;
    color: #4038a0;
}

button{
    background-color: transparent;
    border-color: #272262;
    color: #272262;
    padding: 7px;
    font-weight: bold;
    font-size: 12pt;
    margin-top: 20px;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    transition: all .4s ease-out;
}

button:hover{
    background-color: #272262;
    color: #fff;
}

.justify-center{
    display: flex;
    justify-content: center;

}

.fa-eye{
    position: absolute;
    top: 15px;
    right: 10px;
    cursor: pointer;
    color:#272262;
}

#msgError{
    text-align: center;
    color: #ff0000;
    background-color: #ffbbbb;
    padding: 10px;
    border-radius: 4px;
    display: none;
}

#msgSucess{
    text-align: center;
    color: #00bb00;
    background-color: #bbffbb;
    padding: 10px;
    border-radius: 4px;
    display: none;
}
p{
    color: #272262;
    font-size:10pt;
    text-align:center;
}
    
a{
    color:#272262;
    font-weight: bold;
    text-decoration: none;
    transition: all .3s ease-out;
    
    
}

a:hover{
    color: #ffffff;
}

.botao-mundo{
    /* fundo transparente*/
    background-color: transparent; /* cor do fundo do botão*/
    /*cor da linha*/
    border-color: white;
   /* largura do box*/
    width: 300px;
    /* altura do box */
    height: 50px;
    /*cor da letra*/
    color: white;
    /*sombra da box*/
    box-shadow: purple;
    /*arrendodamento*/
    border-radius: 20px;
    /*fonte da letra*/
    font-family: 'Quicksand', sans-serif;
    /*tamanho da letra*/
    font-size: 20px;
    cursor: pointer;
}

.botao-mundo:hover{
    background-color: #827397;
}